@model Service
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail Sevice</h1>

<ul>
    <li>ID:@Model.Id</li>
    <li>Icon:@Model.Icon</li>
    <li>Header:@Model.Header</li>
    <li>Description:@Model.Description</li>

</ul>

